<launch>

<!-- params -->
<param name="robot_description" command="cat $(find ur3robot)/urdf/robot.urdf" />
<arg name="move_forward_only" default="true"/>

<!-- URDF Publisher -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
   <!--  <param name="source_list" value="[/kinect/tilt/joint_states]" /> -->
    <rosparam param="source_list">["/kinect/tilt/joint_states"]</rosparam>
    <param name="rate" value="50" />
</node>

<!-- rplidar -->
<include file="$(find rplidar_ros)/launch/rplidar_a1.launch" />

<!--  Webcam  -->
<include file="$(find ur3robot)/launch/stream_webcam.launch" />
<!-- start cpp python laser filter -->
<node name="laser_filter_node" type="laser_filter_node" pkg="ur3robot" output="screen">
</node> 

<node name="mpu_node" pkg="mpu6050_driver" type="mpu6050_node" output="screen">
    <rosparam file="$(find ur3robot)/param/imu/mpu_settings.yaml" command="load"/>
</node>


 <!-- start teensy serial -->
<node name="teensy_serial" pkg="rosserial_python" type="serial_node.py" output="screen">
		<param name="port" value="/dev/ttyACM0"/>
		<param name="baud" value="115200"/>
</node>

<node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find ur3robot)/param/ekf/ekf_params.yaml" />
</node>

<!-- slam gmapping stuff -->
<node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen" >
    <param name="scan" value="scan/filtered" />
    <param name="maxUrange" value="10" />
    <param name="minimumScore " value="50" />
    <param name="particles" value="50" />
    <param name="xmin" value="-20" />
    <param name="xmax" value="20" />
    <param name="ymin" value="-20" />
    <param name="ymax" value="20" />
    <param name="delta" value="0.1" />


</node>

<!-- To save map run: rosrun map_server map_saver -f $(find ur3robot)/robot_map/map -->

</launch>