<launch>

<!--launch camera -->
<include file="$(find video_stream_opencv)/launch/camera.launch" >
<arg name="camera_name" value="webcam" />
 <arg name="video_stream_provider" value="0" />
 <arg name="set_camera_fps" value="3"/>
 <arg name="buffer_queue_size" value="1" />
 <arg name="frame_id" value="webcam" />
 <arg name="fps" value="3" />
 <arg name="visualize" value="false" />
 <arg name="flip_vertical" value="true" />
 <arg name="camera_info_url" value="file:///$(find ur3robot)/camera_calibration/ost.yaml" />
</include>

</launch>