<launch>

<param name="robot_description" command="cat $(find ur3robot)/urdf/robot.urdf" />

<!-- URDF Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

<include file="$(find rplidar_ros)/launch/rplidar_a1.launch" />

</launch>
