<launch>

<!-- rplidar -->
<include file="$(find rplidar_ros)/launch/rplidar_a1.launch" />

<!-- start cpp python laser filter -->
<node name="laser_filter_node" type="laser_filter_node" pkg="ur3robot" output="screen">
</node> 

<!-- start the laser scan matcher which is a 3rd source of odom for ekf-->
<include file="$(find ur3robot)/launch/laser_matcher.launch" />

<!-- params -->
<param name="robot_description" command="cat $(find ur3robot)/urdf/robot.urdf" />

<!-- URDF Publisher -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
   <!--  <param name="source_list" value="[/kinect/tilt/joint_states]" /> -->
    <rosparam param="source_list">["/kinect/tilt/joint_states"]</rosparam>
    <param name="rate" value="50" />
</node>

</launch>